/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
    background:url("../img/bkgd_b.jpg");
    font-family:'Lato', sans-serif;
}

em{
	color:#5FBE74;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

form input{
	margin:auto;
	margin:.5em 0em;
	font-size:1.3em;
	padding:.3em;
	width:11em;
	height:1em;
	border-radius:.3em;
}

form textarea{
	font-size:1.5em;
}

button{
	width:40%;
	border-radius:.3em;
	background:#68BD45;
}

button > img{
	width:40%;
}

form textarea{
	margin-top:0em 1em;
	font-size:.7em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul{
	list-style-type:square;
	line-height:1.3em;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a{
	text-decoration:none;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
    background:url("../img/bkgd_b.jpg");
    background-repeat:none;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.main-container{
	padding:.5em;
	min-height:700px;
}
	.site_container{
		max-width:85em;
		height:;
		margin:auto;
	}
	
#okoa{
	background:url("img/okoa.png");
}

#james{
	background:url("img/james.png");
}

#victor{
	background:url("img/victor.png");
}

#marissa{
	background:url("img/marissa.png");
}

#girish{
	background:url("img/girish.png");
}

#jessica{
	background:url("img/jessica.png");
}

	#section_1{
		width:100%;
		margin:0% 5% 0% 0%;
	}
	
	#section_2{
		width:90%;
		position:relative;	
	}	

	.section img{
		height:100%;	
	}
	
	.section{
		display:block;
		height:10em;
		//max-width:40em;
		vertical-align:top;	
	}
	
		.button{
		background:url('../img/button_bkgd.png');
		background-size:contain;
		width:9.5em;
		font-weight:bold;
		height:2em;
		color:#000000;
		border:0;
		border-radius:.3em;
		padding:.5em;
		//background:#68BD45;
		border-radius:.1em;
		vertical-align:bottom;
		margin:1em 1em 1em 1em;
	}
	
	.button:hover{
		background:url('../img/button_bkgd.png');
		background-size:contain;
		width:9.5em;
		font-weight:bold;
		height:2em;
		color:#F46737;
		border:0;
		border-radius:.3em;
		padding:.5em;
		//background:#68BD45;
		border-radius:.1em;
		vertical-align:bottom;
		margin:1em 1em 1em 1em;
	}
	
	#comments{
		border-radius:.3em;
		border-style:inset;
		border-width:.1em;
		border-color:#f1f1f1;
		font-size:1.3em;
		margin:1em 0em;
		width:50%;
		min-width:12em;
	}
	

/* ===================
    ALL: Green Theme HEADER AND FOOTER
   =================== */

.header-container {
    background:url(../img/hbg_min_1.png);
    background-size:cover;
    background-repeat:no-repeat;
    height:;
    padding:.5em 1em 4em 1em;
    //border-bottom:#F58252 2px solid;
}

	
	.slider{
		//background:url("../img/slogan_highlight.png");
		background-color:transparent;
		background-repeat:no-repeat;
		background-size:13em;
		background-position:50% 0%;
		height:;
	}
	
	.article{
		background:url("../img/article_background.png");
		background-repeat:no-repeat;
		background-size:cover;
		width:70%;
		height:28em;
		padding:3em 2em 6em 2em;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;		
	}
	
	.team_article{
		background:url("../img/article_background.png");
		background-repeat:no-repeat;
		background-size:cover;
		width:70%;
		height:;
		padding:3em 2em 6em 2em;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;		
	}

	.tp_cont{
		display:inline-block;
		margin:2% 15% 3% 3%;		
	}
	
	.tp{
		margin:2% 3% 5% 3%;
		display:;
		width:6em;
		height:6em;
		//border:1px solid #F2F2F2;
		border-radius:50%;	
		overflow:hidden;
	}

	.tp img{
		width:100%;
		//height:8em;
		//border-radius:50%;
	}
		
	.logo{
		width:20%;
		margin:0em 0em 0em 0em;
	}

	.handstack{
		width:65%;
	}
	
#okoa{
	background:url("img/okoa.png");
}

#james{
	background:url("img/james.png");
}

#victor{
	background:url("img/victor.png");
}

#marissa{
	background:url("img/marissa.png");
}

#girish{
	background:url("img/girish.png");
}

#jessica{
	background:url("img/jessica.png");
}

	
    #sign_up{
    	background:url("../img/signup.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    }
    #about_title{
    	background:url("../img/about.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    	margin-left:0em;
    }

    #team_title{
    	background:url("../img/team.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    	margin-left:2em;
    }   

    .title {
    	height:2em;
    	width:100%;
    	margin:.5em 0em 2em 0em;  
    }

	
	

.footer-container {
    background:url("../img/fbg_min_1.png");
    background-size:cover;
    overflow:hidden;
    background-repeat:no-repeat;
}


.main aside {
    background: transparent;
}

.title {
    color: white;
}

.submit{
	height:1em;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}


nav a {
    display: block;
    margin-bottom: 5%;
    padding: .8em 0em .2em 0em;
    /*width:11%;*/
   background:url(../img/images/orgNavTab.png);	
   background-size:cover;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-repeat:no-repeat;
}

nav a:hover,
nav a:visited {
    color: white;
}

	.nav_horizontal {
		list-style-type:none;
		position:relative;
		top:0;
		right:0;
		width:100%;
	}

	.nav_horizontal  li {
		text-decoration:none;
		color:#ffffff;
		font-weight:bold;
		background:#F58252;
		padding:.7em;
		margin-bottom:.2em;
		border-radius:.3em;
	}
	
	.nav_horizontal a{
		text-decoration:none;
		color:#ffffff;

	}
    

.h_e-1{
	width:100%;
}

.h_e-2{
	width:100%;
	padding:0em 1em;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0em 0em;
    height:100%;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #000000;
    font-size:1.5em;
    padding: 0px 5% 10px;
}

.slider-wrap{
	height:0em;
	
}

.slider-nav img{
	position:relative;
	height:0;
	width:0;
	}
	
.slider-frame img {
    height:0em;
    width:0em;
}	


	
	
.paginate-wrap > ul{
	height:2em;
	width:;
	//border:1px solid blue;
	list-style-type:none;
	float:right;
	margin:0;
}

.footer-container footer {
    color: #F58252;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

/****small_2 format*********************************************************************/
@media only screen and (min-width: 320px) {


body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
    background:url("../img/bkgd_b.jpg" );
}

/* ====================
    INTERMEDIATE: Menu
   ==================== */
.h_e-1{
	width:100%;
}

.h_e-2{
	width:100%;
}


	.logo{
		width:4em;
		margin:0em 0em 0em 0em;
	}
	

	.handstack{
		width:13em;
	}

#okoa{
	background:url("../img/okoa.png");
	background-size:contain;
	background-repeat:no-repeat;
}

#james{
	background:url("../img/james.png");
	background-size:contain;
	background-repeat:no-repeat;
}

#victor{
	background:url("../img/victor.png");
	background-size:contain;
	background-repeat:no-repeat;
}

#marissa{
	background:url("../img/marissa.png");
	background-size:contain;
	background-repeat:no-repeat;
}

#girish{
	background:url("../img/girish.png");
	background-size:contain;
	background-repeat:no-repeat;
}

#jessica{
	background:url("../img/jessica.png");
	background-size:contain;
	background-repeat:no-repeat;
}

	.green_background{
		width:100%;
		height:75%;
		//background:url("../img/images/sliderSection_07.png");
		background-size:cover;
		background-repeat:no-repeat;
	}

	.nav_horizontal {
		list-style-type:none;
		position:relative;
		top:0;
		right:0;
		width:100%;
	}

	.nav_horizontal  li {
		text-decoration:none;
		color:#ffffff;
		font-weight:bold;
		background:#F58252;
		padding:.7em;
		margin-bottom:.2em;
		border-radius:.3em;
	}
	
	.nav_horizontal a{
		text-decoration:none;
		color:#ffffff;

	}
    
	.icon_large{
		margin:2% 3% 0% 3%;
		display:;
		width:90%;
		height:25em;
		border-radius:5%;		
	}
	

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    
    nav > ul > li {
        display: inline;
        
    }

.inner-frame{
	position:relative;
	top:0;
	overflow:hidden;
	width:100%;
	height:100%;
	margin:auto;	
}

#FC_imgGallery{
	height:100%;
}

#FC_imgGallery img{
	width:100%;
	height:100%;
}

.paginate-wrap{
	width:75%;
}

.paginate-wrap > ul{
	height:2em;
	width:;
	//border:1px solid blue;
	list-style-type:none;
	float:right;
	margin:0;
}

.pagination{
	background-image:url('../img/paginate.png');
	background-size:contain;
}

.pagination-dark{
	background-image:url('../img/paginate-dark.png');
	background-size:contain;
}

.paginate-wrap > ul > li{
	height:1em;
	width:1em;
	//border:1px blue solid;
	float:left;
	margin:0 .5em;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }
	
	.nav_vertical{
		width:17%;
		//border:1px solid black;
		margin:0em 0em 10em 19em;
	}
	
	.nav_vertical ul{
		margin-left:2em;
	}
	
	.nav_vertical ul li{
		display:block;
		color:;
		font-size:;
		margin:1em 1em;
	}

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/****wide format begins*****************************************************************/
@media only screen and (min-width: 660px) {

/* ===============
    Maximal Width
   =============== */
	
/* ==============================================================
    header styles
   ==============================================================*/	
body{
	height:685px;
}

@viewport{
	min-height:685px;
}

	header{		
		height:100%;	
	}
	
.header-container {
    background:url(../img/hbg_b.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    height:8em;
    width:100%;
    //border-bottom:#F58252 2px solid;
    
}

	.nav_horizontal {
		list-style-type:none;
		position:relative;
		top:0em;
		right:0%;
		width:20em;
	}

		
    .wrapper {
        width:; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

	.inline_item{		
		display:inline;
	}
	
	
	.header_element{
	display:inline-block;
	height:100%;
	width:49%;
	min-width:320px;
} 

.h_e-1_lrg{
	width:;
	float:left;
}

.h_e-2_lrg{
	float:right;
	padding:0% 1%;
}

	
	.nav_horizontal li{
		color:#F79472;
		font-weight:bold;
		margin:0% 0%;
		background:transparent;
	}
	

	.logo{
		width:4em;
		margin:.5em 0em 0em 1em;
	}
	

	.handstack{
		width:13em;
		margin:.5em 0em 0em 1em;
	}


	.section img{
		width:100%;
		height:;
	}
	
	.section{
		display:inline-block;
		height:15em;
		max-width:40em;
		vertical-align:top;	
	}
	
	.section_stacked{
		display:;
		height:15em;
		max-width:40em;
		vertical-align:top;	
		line-height:1.8em;
	}	
	
	#section_1{
		width:20%;
		margin:0% 5% 4% 0%;
		min-width:15em;
	}

	#section_2{
		width:50%;
		position:relative;	
	}		
	.slogan{
		background:url("../img/slogan_highlight.png");
		background-repeat:no-repeat;
		color:#ffffff;
		font-size:1.5em;
		font-weight:bold;
	}

	.slider{
		//background:url("../img/slogan_highlight.png");
		background-color:transparent;
		background-repeat:no-repeat;
		background-size:13em;
		background-position:50% 0%;
		padding-top:0em;
		height:33em;
	}
	
	.icon_large{
		margin:2% 3% 0% 3%;
		display:inline-block;
		height:100%;
		width:20%;
		border-radius:5%;		
	}
	
	.icon_text{
		height:20%;
		display:inline-block;
		vertical-align:top;
	}
	
	.icon_text h3{
		margin-bottom:.5em;
	}	
		
	.icon_large img{
		width:100%;
		height:;
		display:;	
		vertical-align:top;
		margin-bottom:1em;
	}
	

	.slider > div:first-child{
		margin:0% 3% 0% 14%;		
	}	
	
    .title {
    	height:2em;
    	width:100%;
    	margin:.5em 0em .5em 2em;  
    }
	
	form input{
		margin-bottom:0em;
	}
	
	#form_1{
		width:60%;
		margin-left:11.3em;
	}
	
	#comments{
		border-radius:.3em;
		border-style:inset;
		border-width:.1em;
		border-color:#f1f1f1;
		font-size:1.3em;
		margin:1em 0em;
		width:50%;
		min-width:20em;
	}
	
		#input_title{
		position:relative;
		left:11.5em;
	}
	
	#ei_1{
		position:relative;
		left:0em;
		border-radius:.2em;
	}
	
	#eb_1{
		position:relative;
		left:1em;
	}
	
	#thankyou{
		margin:0% 25% 0% 23%;
		width:744px;		
	}
	
	#girish{
		height:100%;
	}
	
	#marissa{
		height:100%;
	}

	::-webkit-input-placeholder{ color:#cccccc;}	
	:-moz-placeholder{ color:#cccccc;}	
	::-moz-placeholder{ color:#cccccc;}	
	:-ms-input-placeholder{ color:#cccccc;}		
	
	.button{
		background:url('../img/button_bkgd.png');
		background-size:contain;
		width:9.5em;
		font-weight:bold;
		height:2em;
		color:#000000;
		border:0;
		border-radius:.3em;
		padding:.5em;
		//background:#68BD45;
		border-radius:.1em;
		vertical-align:bottom;
		margin:1em 0em;
	}
	
		.button:hover{
		background:url('../img/button_bkgd.png');
		background-size:contain;
		width:19%
		font-weight:bold;
		height:2em;
		color:#F69473;
		border:0;
		border-radius:.3em;
		padding:.5em;
		//background:#68BD45;
		border-radius:.1em;
		vertical-align:bottom;
	}
	
	.button_image{
		width:50%;
	}
	
	.green_background{
		width:100%;
		height:75%;
		//background:url("../img/images/sliderSection_07.png");
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.article{
		background:url("../img/article_background.png");
		background-repeat:no-repeat;
		background-size:cover;
		width:70%;
		height:;
		padding:3em 2em 6em 2em;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;		
	}
	
	#tn_1{
		position:relative;
		left:2em;
		font-weight:bold;
	}
	
	#tn_2{
		position:relative;
		left:2em;
		font-weight:bold;
	}
	
	.tp_cont{
		display:inline-block;
		margin:2% 15% 3% 3%;		
	}
	
	.tp{
		width:6em;
		height:6em;
		border:2px solid #F2F2F2;
		border-radius:50%;	
		overflow:hidden;
	}
	
	.tp_cont span{
		font-weight:bold;
	}

	.tp img{
		width:100%;
		//height:8em;
		//border-radius:50%;
	}

	.tp_cont:last-child{
		margin:2% 15% 3% 0%;
	}
	
	#otk{
		margin:0em 0em 0em 1.5em;
	}
	
	.tp_n{
		margin:0em 4.4em;	
	}
	
	
	.article_container{
		width:80%;
		margin:auto;
	}
	
	.article_wrap{
		height:75%;
		width:100%;
	}

	.article ul > li:first-child{
		margin: 0em 3.2em 0em 0em;
	}
	
	.nav_vertical{
		width:17%;
		//border:1px solid black;
		margin:0em 0em 10em 19em;
		color:#ffffff;
		font-weight:bold;
	}
	
	#nv_1{
		position:relative;
		top:2em;		
	}	
	
	.nav_vertical ul{
		margin-left:2em;
	}
	
	.nav_vertical ul li{
		display:block;
		color:;
		font-size:;
		margin:1em 1em;
	}
	
	.buttom_image{
		height:100%;
	}
	
	.footer-container {
    background:url("../img/hbg_b.png");
    background-size:cover;
    overflow:hidden;
    background-repeat:no-repeat;
    width:100%;
}

	.bottom_div{
	margin-bottom:2em;
	}
}
/****wide format ends*******************************************************************/

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-weight:100;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
