<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

<script src="//use.typekit.net/cnm5sql.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

    <title>HandStack</title>

    <!-- Bootstrap core CSS via CDN-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/hammer.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

    <body>

        <div class="container">
            <div class="modal fade" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="warnModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
            <div class="header" id="header">
        		<img id="hslogo" class="logo" src="/img/handstack-logo.png">
		        <!-- body/user_login_register_area template -->
                {% if base.user_logged_in %}
                <button class= "btn btn-link btn-sm headerbutton " id="headeruser" > Hello {{base.username}}  </button>
                <button class="btn btn-link btn-sm headerbutton" id="headerlogout" onclick="logout()">Log Out</button>
                {% else %}
                <button class="btn btn-link btn-sm btn-create warn-login headerbutton" id="headerlogin" onclick="show_login_modal()">Log In</button>
                <button class="btn btn-link btn-sm btn-create warn-register headerbutton" id="headerregister" onclick="show_register_modal()">Register</button>
                {% endif %}
            </div>

            <div class="jumbotron" id='jumbo'>
                <div id="map_cont" class= "map_cont gmap"></div>
            </div>

            <div id="topspacer"></div>

            <div class="messagebox"></div>


            <div class="row mainrow">
                <div class="col-md-12 col-xs-12" id="mainscroll">
                    <div class="row">
                    	{% if base.user_logged_in %}
                        <button class= "btn btn-link btn-md btn-create eventbutton" id="create_event_btn" onclick="create_event(999999)" >+ Event</button>
                        {% else %}
                        <button class="btn btn-link btn-md btn-create eventbutton warn-login" onclick="show_login_modal()"> Create Your Event</button>
                        {% endif %}
			            <button class="btn btn-link btn-xs btn-success" onclick="show_all_events()"> All</button>
                        <div class="event col-md-12 col-xs-12 eventform" id="999999" data-startepoch="9999999999"></div>
		     </div>
                     <div class="eventlist row"></div>
                </div>
            </div>
         </div> <!-- /mainrow -->

            <div class="footer">
                <p>&copy; HandStack 2014</p>
            </div>
        </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUVwF148f2YyITzPURA8PotxQLq9GK2A4"></script>

    <link rel="stylesheet" type="text/css" href="/js/vendor/datetimepicker/jquery.datetimepicker.css"/ >
<!--
    <script src="/js/vendor/datetimepicker/jquery.js"></script>
 -->
    <script src="/js/vendor/datetimepicker/jquery.datetimepicker.js"></script>

    <!--<script src="/js/viewhelpers.js"></script>
    <script src="/js/hs_userhelpers.js"></script>-->
    <script src="/js/hs_eventhelpers.js"></script>
<!--    <script src="/js/hs_base.js"></script>-->

  </body>
</html>
