{% if eventcomments|length_is:"0" %}
{% else %}
    {% for key, val in eventcomments.items %}
        <div class="eventcomment row" id="{{val.id}}" data-createdepoch="{{val.createdepoch}}">
            <div class="modal fade" id="{{key}}-removeEventCommentModal" tabindex="-1" role="dialog" aria-labelledby="removeEventCommentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="removeEventCommentModalLabel">Remove event comment?</h4>
                        </div>
                        <div class="modal-body">
                            Click confirm to delete {{val.body}}. Be aware that there is no way to undo this.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal" onclick="remove_eventcomment({{val.parentEvent}},{{val.id}})">DELETE!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eventcommentAuthor col-md-3 col-xs-3">{{val.authorName}}</div>
            <div class="eventcommentBody bubble col-md-6 col-xs-8"> {{val.body}} </div>
            <div class="col-md-2">
                <div class="row">
                    {% if val.user_can_edit %}
                    <button class="btn btn-link btn-xs col-md-6" onclick="edit_eventcomment({{val.id}})"><span class="glyphicon glyphicon-pencil"></span></button>
                    {% endif %}
                    {% if val.user_can_delete %}            
                    <button type="button" class= "btn btn-link btn-xs col-md-6 delete_eventcomment_btn" data-toggle="modal" data-target="#{{key}}-removeEventCommentModal"><span class="glyphicon glyphicon-trash"></button>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
