{% if events|length_is:"0" %}
    <p>No events.</p>
{% else %}
    {% for key, val in events.items %}
    <div class="event col-md-12 col-xs-12" id="{{key}}" data-startepoch="{{val.startepoch}}">
        <div class="modal fade" id="{{key}}-removeEventModal" tabindex="-1" role="dialog" aria-labelledby="removeEventModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="removeEventModalLabel">Remove Event?</h4>
                    </div>
                    <div class="modal-body">
                        Click confirm to delete {{val.eventName}}. Be aware that there is no way to undo this.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="remove_event({{key}})">DELETE!</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" id="accordion">
            <div class="row" id="panel{{key}}">
                <div class="unborder col-md-12">
                    <div class="eventdetails col-md-12" data-toggle="collapse" data-target="#expand-event-{{key}}">
                        <span class="latitude hideloc">{{val.latitude}}</span>
                        <span class="longitude hideloc">{{val.longitude}}</span>
                       <a name="{{ key }}"></a>
			 <div class="row daterow">
                            <div class="col-md-12 drinner">
			      <div class="row ">
                                <span class="startdow   ">{{val.startdow}}</span>
                                <span class="startmonth ">{{val.startmonth}}</span>
                                <span class="startday   ">{{val.startday}}</span>
                                {% if val.user_can_edit %}
                                <a type="button" class= "btn btn-link btn-xs edit_event_btn" onclick="edit_event({{key}})"><span class="glyphicon glyphicon-pencil"></span></a>
                                {% endif %}
                                {% if val.user_can_delete %}
                                <a type="button" class= "btn btn-link btn-xs delete_event_btn" data-toggle="modal" data-target="#{{key}}-removeEventModal"><span class="glyphicon glyphicon-trash"></span></a>
                                {% endif %}
			      </div>
                            </div>
                        </div>
                        <div class="row bodyrow" data-toggle="collapse" data-target="#expand-event-{{key}}">
                            <div class="col-md-12">
                                <div class="row timedist">
                                    <span class="starttime">{{val.starttime}}</span> -
                                    <span class="starttime">{{val.endtime}}</span>
                                    <span class="timezone">{{val.timezone}}</span>
                                    <span class="durationhours">({{val.durationhours}}h)</span>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row clickable-eventtask" id="{{key}}">
                                    <span class="eventName">{{val.eventName}}</span>
                                    <div class=" eventDescription">{{val.eventDescription}}</div>
                                    <div class=" eventAddress">{{val.eventAddress}}</div>
                                </div>
                            </div>
                            <div class="col-md-4 imageside">
                                {% if val.image %}
                                <div class="row eventimage"><img src="/getimage/?eventid={{key}}"/></div>
                                {% else %}
                                <div class="row eventimage"></div>
                                {% endif %}
                                
                                <div class="btn sharebtn" data-toggle="collapse" data-target="#event-url-{{key}}">Share</div>
                                <div id="event-url-{{key}}" class="eventurl collapse">
                                    <input onClick="this.select();" value="http://alpha.handstack.org/#{{key}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="expand-event-{{key}}" class=" collapse">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if val.user_logged_in %}
                                        <button class="btn btn-link btn-xs btn-create taskbutton" id="create_task_btn" onclick="create_task({{key}}, -{{key}})"> + Task</button>
                                        {% else %}
                                        <button class="btn btn-link btn-sm btn-create warn-login" onclick="show_login_modal()"> + Task</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="task" id="-{{key}}"></div>
                                    <div class="row inforow">
                                        <div class="col-md-11 col-xs-11 tasklist" id="{{key}}"></div>
                                    </div>
                        <div class="col-md-12">

<div class="col-md-12 commentbar" data-toggle="collapse" data-target="#event-comment-section-{{key}}">Comments & Questions</div>
<div id="event-comment-section-{{key}}">
                            <div class="col-md-12 eventcommentlist" id="{{key}}"></div>
                            <div class="col-md-12 eventcomment" id="-{{key}}"></div>
</div>

                            <div class="col-md-12 col-xs-12">
                                <div class="row">
                                    {% if val.user_logged_in %}
                                    <a class="btn btn-link btn-xs" id="create_eventcomment_btn" onclick="create_eventcomment(-{{key}})">comment on event...</a>
                                    {% else %}
                                    <button class="btn btn-link btn-sm btn-create warn-login" onclick="show_login_modal()"> comment on event...</a>
                                    {% endif %}
                                </div>
                            </div>
</div>

			     <div class="row ">	
        	                    <div class="col-md-12">
        	                    <div class="col-md-12">

	        	                   <div class="rsvplist col-md-12 col-xs-12" id="{{key}}"></div>

					</div>
					</div>
				</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
