html{font-size:18px;}

body {
    padding-top: 2px;
    padding-bottom: 4px;
    margin:0px;
    color:#777777;

font-family: "aaux-next",sans-serif;
font-style: normal;
font-weight: 400;
}

.error{ color:red;}

.loginrow{margin-left:1em;}
.registerrow{margin-left:1em;}

#hslogo{
height:100%;
margin-left:1vw;
}
  #header {
	height:10vh;
	width:100%;
	position:fixed;
	background-color:{{headerbg}};
	top:0px;
	left:0px;
z-index:110;
}

#topspacer{
width:100%;
height:50vh;
}

.container{
margin:0px;
width:100%;
}

/* Map container*/
.jumbotron, #jumbo {
    	border-bottom: 0;
	padding-left:0px;
	padding-right:0px;
	padding:0px;
	margin:0px;
	height:40vh;
	width:100%;
	position:fixed;
	top:10vh;
	left:0px;
	z-index:110;
}

.gmap{
height:100%;
z-index:0;
}

.eventbutton {
margin-left:1vw;
}

.eventlist{
margin-top:1em;

}



/* SQUARE OR LANDSCAPE --MAP ON RIGHT*/
@media screen and (min-aspect-ratio: 1/1) { 
	#topspacer{
	width:100%;
	height:10vh;
	}
	/* Map container*/
	.jumbotron, #jumbo {
	    	border-bottom: 0;
		padding-left:0px;
		padding-right:0px;
		padding:0px;
		margin:0px;
		height:90vh;
		width:50%;
		position:fixed;
		top:10vh;
		left:50vw;
	z-index:110;
	}
	.gmap{
	height:100%;
	z-index:0;
	}
	#mainscroll{
	width:50%;
	}

}



/* ##  TINY   ###### TOP MAP */
@media screen and (max-width : 768px) { 

  #header {
	height:3em;
	width:100%;
	position:absolute;
	background-color:{{headerbg}};
	top:0px;
	left:0px;
	z-index:111;
}

#topspacer{
width:100%;
height:20em;
}
/* Map container*/
.jumbotron, #jumbo {
    	border-bottom: 0;
	padding-left:0px;
	padding-right:0px;
	padding:0px;
	margin:0px;
	height:20em;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:110;
}

	.gmap{
	  height:100%;
	  z-index:0;
	}
	#mainscroll{
	  width:100%;
	}
}


.headerbutton{
cursor: hand;
cursor: pointer;
float:right;
margin:0.6em;
font-size:{{ f.large }}
}

#headerlogin, #headerlogout{
	background-color:{{ loginbtn.bg }};
	color:{{ loginbtn.color }};
	border-color:{{ loginbtn.border }};
	
}

#headeruser, #headerregister{
	background-color:{{ registerbtn.bg }};
	color:{{ registerbtn.color }};
	border-color:{{ registerbtn.border }};
}


.hideloc , .help-block{
display:none;
}
.unborder,.panel{
border:0px solid #fff;
border-color:#FFF;
background-color:inherit;}

.crud{
background-color:inherit;
border:0px solid #fff;
border-color:#FFF;

}

#tph,#tpb {
border-radius:0px;
background-color:white;
border:0px solid #fff;
border-color:#FFF;
}

.btn-volunteer{
	background-color:{{ volbtn.bg }};
	color:{{ volbtn.color }};
	border-color:{{ volbtn.border }};
}

.eventbutton{
	background-color:{{ mkeventbtn.bg }};
	color:{{ mkeventbtn.color }};
	border-color:{{ mkeventbtn.border }};
}






.daterow{
    background-color:lightgrey;
    color:{{daterow}};
    font-size:{{f.small}};
    margin-left:-20em;
}
.drinner{
padding-left:20em;

}



.eventName{
    color:{{eventname}};
    font-size:{{f.large}};
font-style: normal;
font-weight: 600;
}

.eventDescription{
    font-size:{{f.small}};
}

.eventAddress{
    color:{{eventname}};
    font-size:{{f.small}};
font-family: "aaux-next",sans-serif;
font-style: normal;
font-weight: 600;
}

.imageside{
text-align:right;


}

.eventimage {
text-align:right;
}

.eventimage img{
margin:auto;
border-radius:1em;
    background:transparent;
max-width:100%;
max-height:10em;
}


.timedist{
    font-size:{{f.small}};
}


.tasklist{

}

.statcheck{
z-index:1000;

}

.tasktitle{
    color:{{tasktitle}};
    font-size:{{f.medium}};
font-family: "aaux-next",sans-serif;
font-style: normal;
font-weight: 600;
}

.tasklabel{
    color:{{tasklabel}};
    font-size:{{f.small}};
}

.taskdescription{
    font-size:{{f.small}};
}

.commentbar{
background-color:{{hsgold}}
}


.statusarea{text-align:right;}
.taskleft{padding-left:0px;}
.taskbox{margin-left:0px; padding-left:0px;}


.btn{
/*Corners*/
border-top-left-radius:0.8em 0.2em;
border-bottom-left-radius:0.8em 0.2em;
border-top-right-radius:0.8em 0.2em;
border-bottom-right-radius:0.8em 0.2em;
}





/*
.row {border:1px dotted pink;}
.row .row {border:1px dotted darkblue;}
.row .row .row {border:1px dotted darkgreen;}
.row .row .row .row {border:1px dotted gold;}
//*/


