{%include "includes/head.html"%}

<div class= "slider">
	<div class ="icon_large">
		<img src= "img/hpi_1.png">
		<span class="icon_text">
			<h3>Get Things Done Together</h3>
			Accomplishing tasks is easier than ever
			before. Collaborate easily with your internal
			teams, partners and volunteers.
		</span>
	</div>
	<div class ="icon_large">
		<img src= "img/hpi_2.png">
		<span class="icon_text">
			<h3>Remind people automatically</h3>
				No running after volunteers anymore! Keep them updated on tasks and deadlines with automatic alerts.
		</span>				
	</div>
	<div class ="icon_large">
		<img src= "img/hpi_3.png">
		<span class="icon_text">
			<h3>Connect with the community</h3>
			Increase active community involvement
			in your projects, grow your network
			and make your events successful!
		</span>	
	</div>
</div>	
<div class= "icon_text" id= "input_title"><h3>Want to be a beta tester?</h3></div>
<div class= "bottom_div">
	<form method= "post" action= "https://handstack.org/frontline/" id= "form_1">
		<input type= "text" name= "email" class= "inline_item" placeholder= "enter your email." id= "ei_1"><br>
		<textarea name= "Comments" cols="40" rows="5" placeholder= "how do you plan to use handstack?" id= "comments"></textarea><br>
<span style="background-color:#ddd;padding:10px;border:solid 1px red;">
<img  src="/img/captcha.png" alt="solidarity"> </span>
<input type= "text" name= "captcha" class= "inline_item" placeholder= "Human verification" id= "ei_1"><br>

		<button type= "" name= "request" value= "beta_tester" class= "button" id= "eb_1">sign me up!</button> 
	</form>
</div>

		</div><!----end of "main-container"------> 
	        	
	</body>
</html>

