<div id= "responsorial" class= "authonly inlineblock_item">
{% if error %}
    <p style="color: red;">{{error}}</p>
{% elif removed %}
    <p>ID {{removed}} was successfully removed!</p>	
{% elif added %}
    <p>ID {{added}} was successfully added!</p>	
{% endif %}
</div>