{% if rsvps %}
    <div class="row">RSVPed: ({{rsvps.num}}) {{rsvps.rstring}}</div>
    <div class="row">
        {% if rsvps.user_is_rsvped %}
            {% if rsvps.user_logged_in %}
            <button class= "btn btn-link btn-xs btn-rsvp unrsvp_event_btn" onclick="unrsvp_to_event({{rsvps.eventid}})">un-rsvp me</button>
            {% else %}
            <button class= "btn btn-link btn-xs btn-rsvp unrsvp_event_btn warn-login" onclick="show_login_modal()">un-rsvp me</button>
            {% endif %}
        {% else %}
            {% if rsvps.user_logged_in %}
            <button class= "btn btn-link btn-xs btn-rsvp rsvp_event_btn" onclick="rsvp_to_event({{rsvps.eventid}})">rsvp me</button>
            {% else %}
            <button class= "btn btn-link btn-xs btn-rsvp rsvp_event_btn warn-login" onclick="show_login_modal()">rsvp me</button>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
