<div class="row">
{% if form %}

    {% if form.errors %}
        <p style="color: red;">Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <form id="create_task_form" method="post">
        {% csrf_token %}
        <h3>Please add your task.</h3>
        <ul>
            {{ form.as_ul }}
            <input type="submit" name="submit" value="Save Task">
        </ul>
    </form>
    
{% endif %}

{% if taskeditform %}

    {% if taskeditform.errors %}
        <p style="color: red;">Please correct the error{{ taskeditform.errors|pluralize }} below.</p>
    {% endif %}

    <form id="edit_task_form" method="post">
    {% csrf_token %}
        <h3>Please edit your task.</h3>
        <ul>
            {{ taskeditform.as_ul }}
            <input type="submit" name="submit" value="Update Task">
        </ul>
    </form>
    
{% endif %}
</div> 
