{% if taskcomments|length_is:"0" %}
{% else %}
    {% for key, val in taskcomments.items %}
        <div class="row"><div class="col-md-12">
        
        <div class="taskcomment row" id="{{val.id}}" data-createdepoch="{{val.createdepoch}}">
            <div class="modal fade" id="{{key}}-removeTaskCommentModal" tabindex="-1" role="dialog" aria-labelledby="removeTaskCommentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="removeTaskCommentModalLabel">Remove task comment?</h4>
                        </div>
                        <div class="modal-body">
                            Click confirm to delete {{val.body}}. Be aware that there is no way to undo this.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="remove_taskcomment({{val.parentTask}},{{val.id}})">DELETE!</button>
                        </div>
                    </div>
                </div>
            </div>                    
            <div class="taskcommentAuthor col-md-3 col-xs-3 ">{{val.authorName}}</div>
            <div class="taskcommentBody bubble col-md-6 col-xs-7"> {{val.body}} </div>
            <div class="col-md-2">
                {% if val.user_can_edit %}
                <button class="btn btn-link btn-xs col-md-6" onclick="edit_taskcomment({{val.id}})" ><span class="glyphicon glyphicon-pencil"></span></button>
                {% else %}
                <div class="col-md-6"></div>
                {% endif %}
                {% if val.user_can_delete %}            
                <button class= "btn btn-link btn-xs col-md-6 delete_taskcomment_btn" data-toggle="modal" data-target="#{{key}}-removeTaskCommentModal"><span class="glyphicon glyphicon-trash"></span></button>
                {% else %}
                <div class="col-md-6"></div>
                {% endif %}
            </div>
        </div>
        </div></div>
    {% endfor %}
{% endif %}
