{% if tasks|length_is:"0" %}

{% else %}
    {% for key, val in tasks.items %}
  	<div class="task {%if val.taskStatus != "True" %}completedtask{% endif %}" id="{{key}}" data-priority="{{val.taskPriorityInt}}" data-dueepoch="{{val.dueepoch}}">

        <div class="modal fade" id="{{key}}-removeTaskModal" tabindex="-1" role="dialog" aria-labelledby="removeTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="removeTaskModalLabel">Remove Task?</h4>
                    </div>
                    <div class="modal-body">
                        Click confirm to delete {{val.taskTitle}}. Be aware that there is no way to undo this.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-warning btn-xs" data-dismiss="modal" onclick="remove_task_by_taskid({{key}})">DELETE!</button>
                    </div>
                </div>
            </div>
        </div>

<div  class="row" id="panel{{key}}" >
 <div class="col-md-1 col-md-offset-1 statusarea">
  <input class ="statcheck" type="checkbox" {{val.checked}} id="status{{key}}" name="{{key}}"/>
 </div>
 <div class="col-md-10 taskbox">
  <div class="row taskbox" data-toggle="collapse"  data-target=".expand-task-{{key}}">
  
   <div class="col-md-push-10  col-md-1 col-xs-1" >
    {% if val.user_logged_in %}
     {% if val.user_is_assigned %}
        <button class="btn btn-link  btn-volunteer unassign_task_btn" onclick="unassign_task_to_user({{key}})">Un-volunteer</button>
     {% else %}
        <button class= "btn btn-link btn-volunteer assign_task_btn" onclick="assign_task_to_user({{key}})">Volunteer</button>
     {% endif %}
    {% else %}
        <button class="btn btn-link  btn-volunteer assign_task_btn warn-login" onclick="show_login_modal()">Volunteer</button>
    {% endif %}
   </div>
 
   <div class="col-md-10 col-md-pull-1 taskleft col-xs-12">
    <div class="row taskbox">
     <div class="col-md-12 titlerow taskbox" >
      <span class= "tasktitle" data-toggle="collapse"  data-target=".expand-task-{{key}}">{{val.taskTitle}}</span>
      {% if val.user_can_edit %}
      <button class= "btn btn-link btn-xs edit edit_task_btn" onclick="edit_task({{key}})" >Edit</button>
      {% endif %}
      {% if val.user_can_delete %}
      <button class= "btn btn-link btn-xs delete_task_btn" data-toggle="modal" data-target="#{{key}}-removeTaskModal">Delete</button>
      {% endif %}
     </div>
    </div>
    <div class="row" class="taskinfoline">
      <div class="col-md-4 col-xs-2 taskdate">
       <span class="tasklabel">Due:</span>     
       <span class="duetime">{{val.duemonth}} {{val.dueday}}</span>
      </div>
      <div class="col-md-4 col-xs-2 assignments">
       <span class="tasklabel">Hands in:</span>
       <span class="handcount"> ({{val.count}}) </span>
      </div>
    </div>
   </div>
  </div>
  <div class="collapse expand-task-{{key}}">
   <div class="col-md-12" id="tpb">
    <div class="row taskDescription">{{val.taskDescription}}</div>
    <span class="row"><span class="assignments expand-task-{{assignments.taskid}}">{{val.astring}}</span>...hands</span>
   </div>
  </div>
  <div class="collapse expand-task-{{key}}">
   <div class="row taskcommentlist" id="{{key}}"></div>
   <div class="row taskcomment" id="-{{key}}"></div>
   <div class="row">
                                 {% if val.user_logged_in %}
                                    <a class="btn btn-link btn-xs tcbutton" id="create_taskcomment_btn" onclick="create_taskcomment(-{{key}})">comment on task...</a>
                                    {% else %}
                                    <a class="btn btn-link btn-xs warn-login" onclick="show_login_modal()"> comment on task...</a>
                                    {% endif %}
   </div>
  </div>
 </div>
</div>
</div>
    {% endfor %}
{% endif %}


