{% include "includes/head.html" %}
		
		<div class= "team_article" id= "team">
			<div class= "icon_t" id= ""><h3>Meet the Team</h3></div>
			<div class= "article_container">
				<div class ="tp_cont">
					<div class ="tp">					
						<a href= "jessica.html" class= "team_member" id= "Jessica Lee"><img src= "img/jessica.jpg"></a>					
					</div>
					<span style= "position:relative;top:;">Jessica Lee</span>										
				</div>
				<div class ="tp_cont">
					<div class ="tp">					
						<a href= "victor.html" class= "team_member" id= "Victor Konshin"><img src= "img/victor.jpg"></a>					
					</div>
					<span style= "position:relative;top:;">Victor Konshin</span>										
				</div>
				<div class ="tp_cont">
					<div class ="tp">					
						<a href= "james.html" class= "team_member" id= "James Andrix"><img src= "img/james.jpg"></a>					
					</div>
					<span style= "position:relative;top:;">James Andrix</span>										
				</div>

				<div class ="tp_cont">
					<div class ="tp">					
						<a href= "marissa.html" class= "team_member" id= "Marrisa Caggiano"><img src= "img/marissa.jpg" id= "marissa"></a>					
					</div>
					<span style= "position:relative;top:;">Marrisa Caggiano</span>										
				</div>
				<div class ="tp_cont">
					<div class ="tp">					
						<a href= "okoa.html" class= "team_member" id= "Okoa Kinsey"><img src= "img/okoa.jpg"></a>					
					</div>
					<span style= "position:relative;top:;">Okoa Kinsey</span>										
				</div>
				<div class ="tp_cont">
					<div class ="tp">
						<a href= "http://www.prolificprogrammer.com" class= "team_member"><img src= "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c28.28.345.345/s320x320/936455_10152982780345434_2074692717_n.jpg?oh=02097ec7daea3810c16c082436998422&oe=55A7A118&__gda__=1437238821_1bcf200c93944a8bffd9e2a1991142cb"></a>
					</div>
					<span style= "position:relative;top:;">Hasan Diwan</span>
				</div>
			</div>
		</div>	

		</div><!----end of "main-container"------> 
                	
	</body>
</html>

