<h1>Create Account</h1>
<form method='post' action='register/'>
Display Name:<input name="username">
Email:<input name="email">
Password:<input name="pword">
<input type=submit>
</form>


<h1>Login</h1>
<form method='post' action='login/'>
username:<input name="username">
Email:<input name="email">
Password:<input name="pword">
<input type=submit>
</form>

<h1>Make Event</h1>
 <form action= "/make/" method= "post" id= "eventform">
                    
                    	<span>Title:</span>
                    	<input  name= "eventName" id= "eventName" class= "eventfield inline_item">
               
                   
                    	<span>Description:</span>
                    	<textarea name= "eventDescription"  id= "eventDescription"> </textarea>
              
                    
                    	<span>Address:</span>
                    	<input name= "eventAddress" id= "eventAddress" ">                    
                            
                    	<span>Latitude:</span>
                    	<input value="42.8" name= "latitude" id= "latitude" ">                    
                    	<span>longitude:</span>
                    	<input value="-78.8" name= "longitude" id= "longitude" ">
                        
                    <br/>
                    	
             
                    	<span>StartDate:</span>
<input name =  "eventStartTime" id= "eventStartTime" value="2015-09-20 21:51:39 +0000">
             
                    	<span>Duration:</span>
                        <select name="eventDuration" id= "eventDuration"">
                            <option value="3600">1  Hour</option>
                            <option value="5400">1&#189; Hours</option>
                            <option value="7200">2  Hours</option>
                        </select>
                    </div>
				
             
                   <input type='submit' name='newevent'> 
                </form>


<h1>Event Image</h1>
<form method='post' action='image/' enctype="multipart/form-data">
eventid:<input name="eventid">
Imagefile:
<input type="file" name="image" id="image">
<input type=submit>
</form>


<h1>Event update Orgs</h1>
<form method='post' action='eventupdate/' enctype="multipart/form-data">

eventid:<input name="eventid">
Orgids:<input name="organizations">
<input type=submit>
</form>


<h1>Event Update Interests</h1>
<form method='post' action='eventupdate/' enctype="multipart/form-data">

eventid:<input name="eventid">
interest ids:<input name="interests">

<input type=submit>
</form>


<h1>Comment</h1>
<form method='post' action='mkcomment/'>{% csrf_token %}
eventid:<input name="eventid">
Body:<input name="body">

<input type=submit>
</form>


<h1>event Comment web</h1>
<form method='post' action='create_eventcomment/'>{% csrf_token %}
eventid:<input name="eventid">
Body:<input name="body">

<input type=submit>
</form>


<h1>task Comment web</h1>
<form method='post' action='create_taskcomment/'>{% csrf_token %}
eventid:<input name="eventid">
Body:<input name="body">

<input type=submit>
</form>




<h1>Create Group</h1>
<form method='post' action='mkgroup/'>{% csrf_token %}
name:<input name="name">
desc:<input name="description">
 orgAddress :<input name="orgAddress">
orgLocationDescription:<input name="orgLocationDescription">
longitude:<input name="longitude">
latitude:<input name="latitude">
<input type=submit>

</form>



<h1>Make Task</h1>
<form method='post' action='maketask/'>
eventid:<input name="eventid">
Title:<input name="taskTitle">
taskpriority:<input name="taskPriority">
duedate:<input name="taskDuedate" value="2015-09-20 21:51:39 +0000">
Description  :<input name="taskDescription">
Status:<input name="taskStatus">

<input type=submit>
</form>



<h1>Organization Image</h1>
<form method='post' action='eventimage/' enctype="multipart/form-data">
eventid:<input name="orgid">
Imagefile:
<input type="file" name="image" id="image">
<input type=submit>
</form>

<h1>Task Update</h1>
<form method='post' action='taskupdate/'>{% csrf_token %}
taskid:<input name="taskid">
Title:<input name="taskTitle">
taskpriority:<input name="taskPriority" default="0">
duedate:<input name="taskDuedate" default="2015/01/19 19:00">
Description  :<input name="taskDescription">
Status:<input name="taskStatus" type="checkbox">

<input type=submit>
</form>

<h1>User Image</h1>
<form method='post' action='image/' enctype="multipart/form-data">
userid:<input name="userid">
Imagefile:
<input type="file" name="image" id="image">
<input type=submit>
</form>


