<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

<script src="//use.typekit.net/cnm5sql.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

    <title>HandStack</title>


    <link href="/hammer.css" rel="stylesheet">


<style>
result{
margin:2em;
}

</style>

  </head>

    <body>
        <div class="container">
            <div class="modal fade" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="warnModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>

            <div class="header" id="header">
        		<img id="hslogo" class="logo" src="/img/handstack-logo.png">
            </div>

            <div id="topspacer"></div>

            <div class="messagebox"></div>
            <div class="row mainrow">
                <div class="col-md-12 col-xs-12" id="mainscroll">

 <div class="result">{{result}}</div>

                </div>
         </div> <!-- /mainrow -->

            <div class="footer">
                <p>&copy; HandStack 2014</p>
            </div>
        </div> <!-- /container -->
  </body>
</html>
